body{
    background-color: aqua;
}
.section{margin-bottom: 50px;}
.section p{text-align: center;}
.section h2{text-align: center;
margin: 0 0 20px;}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product{
    width: calc(33.33% - 20px);
    margin-bottom: 50px;
    text-align: center;
    flex: 1;
}
.product img{
    width: 50%;
    margin-bottom: 10px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 30px;
}
.product h3{
    margin: 0;
}
.product p{margin: 10px 0;}
.product button{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.section form{
    margin-left: 35%;
}
